<br><br>
<div class="container">
    <div class="form_div">
        <div class="title_form">
            <div class="title">
                <span>WASH-FIT-Assessment Master &nbsp; &nbsp; &nbsp; &nbsp;</span>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">language
                        <span class="glyphicon glyphicon-globe"> </span> 
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="lang2()">English</a></li>
                        <li><a (click)="lang()">العربية</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="body_div">
            <h2>Instructions</h2>
            <br>
            <p>Overview</p>
            <br>
            <p>
                This tool allows WASH FIT teams to conduct a thorough assessment of their facility, in order to inform
                an improvement plan. It replaces the assessment tool published in the WHO/UNICEF “Water and Sanitation
                for Health Facility Improvement Tool (WASH FIT)” guide in 2018. It will also be available as an
                electronic form on Kobo Toolbox in early 2022.
            </p>
            <br>
            <p>The tools cover seven broad areas:</p>
            <ol>
                <li> Water.</li>
                <li> Sanitation.</li>
                <li> Healthcare waste.</li>
                <li> Hand hygiene</li>
                <li> Environmental cleaning.</li>
                <li> Management & workforce</li>
                <li> Energy & environment</li>
            </ol>
            <br>
            <p>
                Each area ("domain") is in a separate tab and includes indicators and targets for achieving minimum
                standards needed for maintaining a safe and clean environment.
            </p>
            <br>
            <p>
                Indicators have been aligned with the WHO/UNICEF Joint Monitoring Programme Indicators for calculating
                basic service levels. Indicators aligned with the JMP are marked "JMP Basic Water/Sanitation/Hand
                hygiene." These indicators should not be altered. All other indicators can be modified according to the
                local context.
            </p>
            <br>
            <p>
                Some questions are marked "Ward" meaning that indicators can be assessed multiple times across a
                facility, i.e. once in each ward. To generate the score if assessing multiple wards, an average of the
                scores across an indicator should be calculated. Alternatively, a WASH FIT score can be calculated for a
                given ward as well as for the whole facility.
                New features
            </p>
            <br>
            <p>

                "Summary Tables". This tab summarises the overall WASH FIT score, scores for each domain, and will also
                calculate the JMP service ladders. As more indicators are assessed, it will update automatically.
            </p>
            <br>
            <p>
                "Steps 3-5" This sheet includes the tools to support steps 3-5 of the WASH FIT cycle (risk assessment,
                improvement plan and monitoring & review).
            </p>
            <br>
            <p>Domains 1-7:</p>
            <br>
            <p>
                - Updated method of calculating scores for each domain (ref to the bottom of Column H under domains
                1-7). Note, these are the same as are found in the Summary Tables tab.
            </p>
            <br>
            <p>
                - % completeness: the top of each domain shows how much of the assessment has been filled in. This
                number will update automatically as more indicators are filled in.
            </p>
        </div>
        <div class="body_div">
            <div class="row">
                <img src="/assets/UN0582754.jpg" alt="" width="980px">
            </div>
            <br>
            <button type="button" class="btn" (click)="QuestionForm()">Next</button>
            <br>
            <p>Never give out your password. <a href="">Report abuse</a></p>
        </div>
        <div class="footer_div">
            <p>
                This content is created by the owner of the form. The data you submit will be sent to the form owner.
                Microsoft is not responsible for the privacy or security practices of its customers, including those of
                this form owner. Never give out your password.
                <br><br>
                Powered by Microsoft Forms | The owner of this form has not provided a privacy statement as to how they
                will use your response data. Do not provide personal or sensitive information. <br>
                | <a href="">Terms of use</a>
            </p>
            <br>
        </div>
    </div>
</div>