/* You can add global styles to this file, and also import other style files */
body {
    /*background-image: url('/assets/UN0582754.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.form_div {
    height: 100%;
    background-color: rgba(243, 240, 240, 0.8);
}

.title_form {
    height: 54px;
    background-color: rgb(35, 91, 117, 0.8);
}

.title {
    padding-left: 120px;
    padding-top: 20px;
    color: white;

}

.body_div {
    height: 100%;
    width: 90%;
    background-color: rgb(230, 238, 242, 0.9);
    margin-left: 60px;
    margin-top: 20px;
    padding: 20px;
}

.footer_div {
    margin-top: 20px;
    margin-left: 60px;
}

.btn {
    background-color: rgba(35, 91, 117, 0.8);
    color: white;
    width: 200px;
    height: 40px;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #235b75;
}

.q_number{
    width: 40px;
    height: 31px;
    background-color: rgba(35, 91, 117, 0.8);
    margin-top: -19px;
    margin-left: 15px;
    color: white;
    font-size: large;
    padding-left: 3px;
}
#answer{
    width: 350px;
    height: 30px;
}